/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d16b86;
    font-family: Arial, sans-serif;
}


.container {
    background-color: #f3f3f3;
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    width: 500px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);

}




.cat {
    width: 150px;
    margin-bottom: 15px;
}


h2 {
    color: #e2557b;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: monospace;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}


.btn {
    padding: 10px 25px;
    border: none;
    border-radius: 25px;
    background-color: #ff5c7c;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 5px 15px rgba(255, 92, 124, 0.4);
    font-size: large;
}


.btn:hover {
    transform: scale(1.1);
}


.no {
    background-color: #ff6b81;
}

.container {
    position: relative;
}



.no {
    position: relative;
    transition: all 0.5s ease; /* smooth for movement + fade + shrink */
/* } */


/* 

.btn {
    padding: 12px 25px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
    background-color: #ff4f6d;
    color: white;
}

.btn:hover {
    transform: scale(1.1);
}

.no {
    position: relative;
    transition: all 0.5s ease;
}

.success-gif {
    width: 150px;
    display: block;
    margin: 0 auto 20px auto;
/* } */ 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d16b86;
    font-family: Arial, sans-serif;
}


.container {
    background-color: #f3f3f3;
    padding: 80px;
    border-radius: 35px;
    text-align: center;
    width: 750px;                 
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.2);
    position: relative;
}


.cat {
    width: 250px;                 
    margin-bottom: 25px;
}


h2 {
    color: #e2557b;
    margin-bottom: 40px;
    font-size: 36px;              
    font-family: monospace;
}


.buttons {
    display: flex;
    justify-content: center;
    gap: 40px;                   
}


.btn {
    padding: 20px 50px;           
    border: none;
    border-radius: 40px;
    background-color: #ff4f6d;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 0 10px 25px rgba(255, 79, 109, 0.4);
    font-size: 22px;              
}


.btn:hover {
    transform: scale(1.15);
}


.no {
    background-color: #ff6b81;
    position: relative;
    transition: all 0.5s ease;
}


.success-gif {
    width: 280px;                
    display: block;
    margin: 0 auto 30px auto;
}

